apiVersion: v1
kind: Service
metadata:
  name: remote-dev-vm
  namespace: remote-dev-vm
spec:
  ports:
    - name: ssh
      port: 22
      targetPort: 22
      protocol: TCP
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: remote-dev-vm
  type: ClusterIP
